<a href="/allposts">&larr; 뒤로</a>
<div class="admin-title">
    <h2><%= locals.title %></h2>
</div>

<form action="/add" method="post">
    <label for="title">제목</label>
    <input type="text" name="title" id="title" placeholder="제목" required>

    <label for="body">내용</label>
    <textarea name="body" id="body" cols="50" rows="10" placeholder="내용" required></textarea>

    <button type="submit">게시물 추가</button>
</form>